/* === Align content === */
.content-center {
  align-content: center;
}
.content-end {
  align-content: flex-end;
}
.content-start {
  align-content: flex-start;
}
.content-around {
  align-content: space-around;
}
.content-between {
  align-content: space-between;
}
.content-evenly {
  align-content: space-evenly;
}
.content-stretch {
  align-content: stretch;
}

/* === Align items === */
.items-baseline {
  align-items: baseline;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.items-stretch   {
  align-items: stretch;
}

/* === Align self === */
.self-baseline {
  align-self: baseline;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.self-start {
  align-self: flex-start;
}
.self-stretch   {
  align-self: stretch;
}

/* === Border radius === */
.radius-s {
  border-radius: var(--lumo-border-radius-s);
}
.radius-m {
  border-radius: var(--lumo-border-radius-m);
}
.radius-l {
  border-radius: var(--lumo-border-radius-l);
}

/* === Flex === */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

/* === Flex wrap === */
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* === Font sizes === */
.font-size-xxs {
  font-size: var(--lumo-font-size-xxs);
}
.font-size-xs {
  font-size: var(--lumo-font-size-xs);
}
.font-size-s {
  font-size: var(--lumo-font-size-s);
}
.font-size-m {
  font-size: var(--lumo-font-size-m);
}
.font-size-l {
  font-size: var(--lumo-font-size-l);
}
.font-size-xl {
  font-size: var(--lumo-font-size-xl);
}
.font-size-xxl {
  font-size: var(--lumo-font-size-xxl);
}
.font-size-xxxl {
  font-size: var(--lumo-font-size-xxxl);
}

/* === Font weight === */
.font-weight-thin {
  font-weight: 100; 
}
.font-weight-extralight {
  font-weight: 200; 
}
.font-weight-light {
  font-weight: 300; 
}
.font-weight-normal {
  font-weight: 400; 
}
.font-weight-medium {
  font-weight: 500; 
}
.font-weight-semibold {
  font-weight: 600; 
}
.font-weight-bold {
  font-weight: 700; 
}
.font-weight-extrabold {
  font-weight: 800; 
}
.font-weight-black {
  font-weight: 900; 
}
.font-weight-extrablack {
  font-weight: 950; 
}

/* === Gap (column) === */
.gap-col-s {
  column-gap: var(--lumo-space-xs);
}
.gap-col-m {
  column-gap: var(--lumo-space-s);
}
.gap-col-m {
  column-gap: var(--lumo-space-m);
}
.gap-col-l {
  column-gap: var(--lumo-space-l);
}
.gap-col-xl {
  column-gap: var(--lumo-space-xl);
}

/* === Gap (uniform) === */
.gap-s {
  gap: var(--lumo-space-xs);
}
.gap-m {
  gap: var(--lumo-space-s);
}
.gap-m {
  gap: var(--lumo-space-m);
}
.gap-l {
  gap: var(--lumo-space-l);
}
.gap-xl {
  gap: var(--lumo-space-xl);
}

/* === Gap (row) === */
.gap-row-s {
  row-gap: var(--lumo-space-xs);
}
.gap-row-m {
  row-gap: var(--lumo-space-s);
}
.gap-row-m {
  row-gap: var(--lumo-space-m);
}
.gap-row-l {
  row-gap: var(--lumo-space-l);
}
.gap-row-xl {
  row-gap: var(--lumo-space-xl);
}

/* === Grid === */
.grid {
  display: grid;
}

/* === Grid columns === */
.cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* === Grid column spans === */
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.col-span-11 {
  grid-column: span 11 / span 11;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}

/* === Grid rows === */
.rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}
.rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
.rows-7 {
  grid-template-rows: repeat(7, minmax(0, 1fr));
}
.rows-8 {
  grid-template-rows: repeat(8, minmax(0, 1fr));
}
.rows-9 {
  grid-template-rows: repeat(9, minmax(0, 1fr));
}
.rows-10 {
  grid-template-rows: repeat(10, minmax(0, 1fr));
}
.rows-11 {
  grid-template-rows: repeat(11, minmax(0, 1fr));
}
.rows-12 {
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

/* === Grid row spans === */
.row-span-1 {
  grid-row: span 1 / span 1;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.row-span-4 {
  grid-row: span 4 / span 4;
}
.row-span-5 {
  grid-row: span 5 / span 5;
}
.row-span-6 {
  grid-row: span 6 / span 6;
}
.row-span-7 {
  grid-row: span 7 / span 7;
}
.row-span-8 {
  grid-row: span 8 / span 8;
}
.row-span-9 {
  grid-row: span 9 / span 9;
}
.row-span-10 {
  grid-row: span 10 / span 10;
}
.row-span-11 {
  grid-row: span 11 / span 11;
}
.row-span-12 {
  grid-row: span 12 / span 12;
}

/* === Height === */
.h-xs {
  height: var(--lumo-size-xs);
}
.h-s {
  height: var(--lumo-size-s);
}
.h-m {
  height: var(--lumo-size-m);
}
.h-l {
  height: var(--lumo-size-l);
}
.h-xl {
  height: var(--lumo-size-xl);
}
.h-full {
  height: 100%;
}

/* === Icon sizing === */
.icon-s {
  height: var(--lumo-icon-size-s);
  width: var(--lumo-icon-size-s);
}
.icon-m {
  height: var(--lumo-icon-size-m);
  width: var(--lumo-icon-size-m);
}
.icon-l {
  height: var(--lumo-icon-size-l);
  width: var(--lumo-icon-size-l);
}

/* === Justify content === */
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* === Line height === */
.line-height-xs {
  line-height: var(--lumo-line-height-xs);
}
.line-height-s {
  line-height: var(--lumo-line-height-s);
}
.line-height-m {
  line-height: var(--lumo-line-height-m);
}

/* === Margin (bottom) === */
.mb-a {
  margin-bottom: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-xs {
  margin-bottom: var(--lumo-space-xs);
}
.mb-s {
  margin-bottom: var(--lumo-space-s);
}
.mb-m {
  margin-bottom: var(--lumo-space-m);
}
.mb-l {
  margin-bottom: var(--lumo-space-l);
}
.mb-xl {
  margin-bottom: var(--lumo-space-xl);
}

/* === Margin (end) === */
.me-a {
  margin-inline-end: auto;
}
.me-0 {
  margin-inline-end: 0;
}
.me-xs {
  margin-inline-end: var(--lumo-space-xs);
}
.me-s {
  margin-inline-end: var(--lumo-space-s);
}
.me-m {
  margin-inline-end: var(--lumo-space-m);
}
.me-l {
  margin-inline-end: var(--lumo-space-l);
}
.me-xl {
  margin-inline-end: var(--lumo-space-xl);
}

/* === Margin (horizontal) === */
.mh-a {
  margin-left: auto;
  margin-right: auto;
}
.mh-0 {
  margin-left: 0;
  margin-right: 0;
}
.mh-xs {
  margin-left: var(--lumo-space-xs);
  margin-right: var(--lumo-space-xs);
}
.mh-s {
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
}
.mh-m {
  margin-left: var(--lumo-space-m);
  margin-right: var(--lumo-space-m);
}
.mh-l {
  margin-left: var(--lumo-space-l);
  margin-right: var(--lumo-space-l);
}
.mh-xl {
  margin-left: var(--lumo-space-xl);
  margin-right: var(--lumo-space-xl);
}

/* === Margin (left) === */
.ml-a {
  margin-left: auto;
}
.ml-0 {
  margin-left: 0;
}
.ml-xs {
  margin-left: var(--lumo-space-xs);
}
.ml-s {
  margin-left: var(--lumo-space-s);
}
.ml-m {
  margin-left: var(--lumo-space-m);
}
.ml-l {
  margin-left: var(--lumo-space-l);
}
.ml-xl {
  margin-left: var(--lumo-space-xl);
}

/* === Margin (right) === */
.mr-a {
  margin-right: auto;
}
.mr-0 {
  margin-right: 0;
}
.mr-xs {
  margin-right: var(--lumo-space-xs);
}
.mr-s {
  margin-right: var(--lumo-space-s);
}
.mr-m {
  margin-right: var(--lumo-space-m);
}
.mr-l {
  margin-right: var(--lumo-space-l);
}
.mr-xl {
  margin-right: var(--lumo-space-xl);
}

/* === Margin (start) === */
.ms-a {
  margin-inline-start: auto;
}
.ms-0 {
  margin-inline-start: 0;
}
.ms-xs {
  margin-inline-start: var(--lumo-space-xs);
}
.ms-s {
  margin-inline-start: var(--lumo-space-s);
}
.ms-m {
  margin-inline-start: var(--lumo-space-m);
}
.ms-l {
  margin-inline-start: var(--lumo-space-l);
}
.ms-xl {
  margin-inline-start: var(--lumo-space-xl);
}

/* === Margin (top) === */
.mt-a {
  margin-top: auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-xs {
  margin-top: var(--lumo-space-xs);
}
.mt-s {
  margin-top: var(--lumo-space-s);
}
.mt-m {
  margin-top: var(--lumo-space-m);
}
.mt-l {
  margin-top: var(--lumo-space-l);
}
.mt-xl {
  margin-top: var(--lumo-space-xl);
}

/* === Margin (uniform) === */
.m-a {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.m-xs {
  margin: var(--lumo-space-xs);
}
.m-s {
  margin: var(--lumo-space-s);
}
.m-m {
  margin: var(--lumo-space-m);
}
.m-l {
  margin: var(--lumo-space-l);
}
.m-xl {
  margin: var(--lumo-space-xl);
}

/* === Margin (vertical) === */
.mv-a {
  margin-bottom: auto;
  margin-top: auto;
}
.mv-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.mv-xs {
  margin-bottom: var(--lumo-space-xs);
  margin-top: var(--lumo-space-xs);
}
.mv-s {
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
}
.mv-m {
  margin-bottom: var(--lumo-space-m);
  margin-top: var(--lumo-space-m);
}
.mv-l {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-l);
}
.mv-xl {
  margin-bottom: var(--lumo-space-xl);
  margin-top: var(--lumo-space-xl);
}

/* === Overflow === */
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}

/* === Padding (bottom) === */
.pb-0 {
  padding-bottom: 0;
}
.pb-xs {
  padding-bottom: var(--lumo-space-xs);
}
.pb-s {
  padding-bottom: var(--lumo-space-s);
}
.pb-m {
  padding-bottom: var(--lumo-space-m);
}
.pb-l {
  padding-bottom: var(--lumo-space-l);
}
.pb-xl {
  padding-bottom: var(--lumo-space-xl);
}

/* === Padding (end) === */
.pe-0 {
  padding-inline-end: 0;
}
.pe-xs {
  padding-inline-end: var(--lumo-space-xs);
}
.pe-s {
  padding-inline-end: var(--lumo-space-s);
}
.pe-m {
  padding-inline-end: var(--lumo-space-m);
}
.pe-l {
  padding-inline-end: var(--lumo-space-l);
}
.pe-xl {
  padding-inline-end: var(--lumo-space-xl);
}

/* === Padding (horizontal) === */
.ph-0 {
  padding-left: 0;
  padding-right: 0;
}
.ph-xs {
  padding-left: var(--lumo-space-xs);
  padding-right: var(--lumo-space-xs);
}
.ph-s {
  padding-left: var(--lumo-space-s);
  padding-right: var(--lumo-space-s);
}
.ph-m {
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
}
.ph-l {
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
}
.ph-xl {
  padding-left: var(--lumo-space-xl);
  padding-right: var(--lumo-space-xl);
}

/* === Padding (left) === */
.pl-0 {
  padding-left: 0;
}
.pl-xs {
  padding-left: var(--lumo-space-xs);
}
.pl-s {
  padding-left: var(--lumo-space-s);
}
.pl-m {
  padding-left: var(--lumo-space-m);
}
.pl-l {
  padding-left: var(--lumo-space-l);
}
.pl-xl {
  padding-left: var(--lumo-space-xl);
}

/* === Padding (right) === */
.pr-0 {
  padding-right: 0;
}
.pr-xs {
  padding-right: var(--lumo-space-xs);
}
.pr-s {
  padding-right: var(--lumo-space-s);
}
.pr-m {
  padding-right: var(--lumo-space-m);
}
.pr-l {
  padding-right: var(--lumo-space-l);
}
.pr-xl {
  padding-right: var(--lumo-space-xl);
}

/* === Padding (start) === */
.ps-0 {
  padding-inline-start: 0;
}
.ps-xs {
  padding-inline-start: var(--lumo-space-xs);
}
.ps-s {
  padding-inline-start: var(--lumo-space-s);
}
.ps-m {
  padding-inline-start: var(--lumo-space-m);
}
.ps-l {
  padding-inline-start: var(--lumo-space-l);
}
.ps-xl {
  padding-inline-start: var(--lumo-space-xl);
}

/* === Padding (top) === */
.pt-0 {
  padding-top: 0;
}
.pt-xs {
  padding-top: var(--lumo-space-xs);
}
.pt-xs {
  padding-top: var(--lumo-space-xs);
}
.pt-s {
  padding-top: var(--lumo-space-s);
}
.pt-m {
  padding-top: var(--lumo-space-m);
}
.pt-l {
  padding-top: var(--lumo-space-l);
}
.pt-xl {
  padding-top: var(--lumo-space-xl);
}

/* === Padding (uniform) === */
.p-0 {
  padding: 0;
}
.p-xs {
  padding: var(--lumo-space-xs);
}
.p-s {
  padding: var(--lumo-space-s);
}
.p-m {
  padding: var(--lumo-space-m);
}
.p-l {
  padding: var(--lumo-space-l);
}
.p-xl {
  padding: var(--lumo-space-xl);
}

/* === Padding (vertical) === */
.pv-0 {
  padding-bottom: 0;
  padding-top: 0;
}
.pv-xs {
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}
.pv-s {
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
}
.pv-m {
  padding-bottom: var(--lumo-space-m);
  padding-top: var(--lumo-space-m);
}
.pv-l {
  padding-bottom: var(--lumo-space-l);
  padding-top: var(--lumo-space-l);
}
.pv-xl {
  padding-bottom: var(--lumo-space-xl);
  padding-top: var(--lumo-space-xl);
}

/* === Position === */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
.relative {
  position: relative;
}

/* === Shadows === */
.shadow-xs {
  box-shadow: var(--lumo-box-shadow-xs);
}
.shadow-s {
  box-shadow: var(--lumo-box-shadow-s);
}
.shadow-m {
  box-shadow: var(--lumo-box-shadow-m);
}
.shadow-l {
  box-shadow: var(--lumo-box-shadow-l);
}
.shadow-xl {
  box-shadow: var(--lumo-box-shadow-xl);
}

/* === Spacing (bottom) === */
.sb-xs > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xs);
}
.sb-s > *:not(:last-child) {
  margin-bottom: var(--lumo-space-s);
}
.sb-m > *:not(:last-child) {
  margin-bottom: var(--lumo-space-m);
}
.sb-l > *:not(:last-child) {
  margin-bottom: var(--lumo-space-l);
}
.sb-xl > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xl);
}

/* === Spacing (end) === */
.se-xs > *:not(:last-child) {
  margin-inline-end: var(--lumo-space-xs);
}
.se-s > *:not(:last-child) {
  margin-inline-end: var(--lumo-space-s);
}
.se-m > *:not(:last-child) {
  margin-inline-end: var(--lumo-space-m);
}
.se-l > *:not(:last-child) {
  margin-inline-end: var(--lumo-space-l);
}
.se-xl > *:not(:last-child) {
  margin-inline-end: var(--lumo-space-xl);
}

/* === Spacing (horizontal) === */
.sh-xs > *:not(:last-child) {
  margin-left: var(--lumo-space-xs);
  margin-right: var(--lumo-space-xs);
}
.sh-s > *:not(:last-child) {
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
}
.sh-m > *:not(:last-child) {
  margin-left: var(--lumo-space-m);
  margin-right: var(--lumo-space-m);
}
.sh-l > *:not(:last-child) {
  margin-left: var(--lumo-space-l);
  margin-right: var(--lumo-space-l);
}
.sh-xl > *:not(:last-child) {
  margin-left: var(--lumo-space-xl);
  margin-right: var(--lumo-space-xl);
}

/* === Spacing (left) === */
.sl-xs > *:not(:last-child) {
  margin-left: var(--lumo-space-xs);
}
.sl-s > *:not(:last-child) {
  margin-left: var(--lumo-space-s);
}
.sl-m > *:not(:last-child) {
  margin-left: var(--lumo-space-m);
}
.sl-l > *:not(:last-child) {
  margin-left: var(--lumo-space-l);
}
.sl-xl > *:not(:last-child) {
  margin-left: var(--lumo-space-xl);
}

/* === Spacing (right) === */
.sr-xs > *:not(:last-child) {
  margin-right: var(--lumo-space-xs);
}
.sr-s > *:not(:last-child) {
  margin-right: var(--lumo-space-s);
}
.sr-m > *:not(:last-child) {
  margin-right: var(--lumo-space-m);
}
.sr-l > *:not(:last-child) {
  margin-right: var(--lumo-space-l);
}
.sr-xl > *:not(:last-child) {
  margin-right: var(--lumo-space-xl);
}

/* === Spacing (start) === */
.ss-xs > *:not(:last-child) {
  margin-inline-start: var(--lumo-space-xs);
}
.ss-s > *:not(:last-child) {
  margin-inline-start: var(--lumo-space-s);
}
.ss-m > *:not(:last-child) {
  margin-inline-start: var(--lumo-space-m);
}
.ss-l > *:not(:last-child) {
  margin-inline-start: var(--lumo-space-l);
}
.ss-xl > *:not(:last-child) {
  margin-inline-start: var(--lumo-space-xl);
}

/* === Spacing (top) === */
.st-xs > *:not(:last-child) {
  margin-top: var(--lumo-space-xs);
}
.st-s > *:not(:last-child) {
  margin-top: var(--lumo-space-s);
}
.st-m > *:not(:last-child) {
  margin-top: var(--lumo-space-m);
}
.st-l > *:not(:last-child) {
  margin-top: var(--lumo-space-l);
}
.st-xl > *:not(:last-child) {
  margin-top: var(--lumo-space-xl);
}

/* === Spacing (uniform) === */
.s-xs > *:not(:last-child) {
  margin: var(--lumo-space-xs);
}
.s-s > *:not(:last-child) {
  margin: var(--lumo-space-s);
}
.s-m > *:not(:last-child) {
  margin: var(--lumo-space-m);
}
.s-l > *:not(:last-child) {
  margin: var(--lumo-space-l);
}
.s-xl > *:not(:last-child) {
  margin: var(--lumo-space-xl);
}

/* === Spacing (vertical) === */
.sv-xs > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xs);
  margin-top: var(--lumo-space-xs);
}
.sv-s > *:not(:last-child) {
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
}
.sv-m > *:not(:last-child) {
  margin-bottom: var(--lumo-space-m);
  margin-top: var(--lumo-space-m);
}
.sv-l > *:not(:last-child) {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-l);
}
.sv-xl > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xl);
  margin-top: var(--lumo-space-xl);
}

/* === Text colors === */
.color-header {
  color: var(--lumo-header-text-color);
}
.color-body {
  color: var(--lumo-body-text-color);
}
.color-secondary {
  color: var(--lumo-secondary-text-color);
}
.color-tertiary {
  color: var(--lumo-tertiary-text-color);
}
.color-disabled {
  color: var(--lumo-disabled-text-color);
}
.color-primary {
  color: var(--lumo-primary-text-color);
}
.color-error {
  color: var(--lumo-error-text-color);
}
.color-success {
  color: var(--lumo-success-text-color);
}

/* === Width === */
.w-xs {
  width: var(--lumo-size-xs);
}
.w-s {
  width: var(--lumo-size-s);
}
.w-m {
  width: var(--lumo-size-m);
}
.w-l {
  width: var(--lumo-size-l);
}
.w-xl {
  width: var(--lumo-size-xl);
}
.w-full {
  width: 100%;
}

